body{
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}

.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
}

#demo {
    width: 50%;
}

hr {
    color: inherit;
    border: 0;
    border-top: 5px solid;
    opacity: 0.25;
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    width: 50%;
}

.container4 {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Thiết lập CSS cho flex container */
.flex {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    gap: 2px; /* Khoảng cách giữa các ô */
    padding: 20px;
}

/* Thiết lập CSS cho ô trong container */
.box0 {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

.box0 i {
    margin-right: 10px; /* Khoảng cách giữa thẻ i và thẻ p */
}

.box0 p {
    margin: 0; /* Loại bỏ margin mặc định của thẻ p */
    margin-left: 10px;
}

.container5 {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1{
    width: 65%;
}

.container6 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center; /* Chiều rộng của box */
}

iframe {
    width: 70%; /* 100% chiều rộng của iframe trong box */
    height: 400px; /* 100% chiều cao của iframe trong box */
}
 p {
    font-size: 20px;
 }